.quote__header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.quote__body {
	border: 1px solid red;
	display: flex;
	flex-direction: row;
}

.formContainer {
	border: 2px solid black;
	flex: 80%;
}

.quoteSideContent {
	border: 1px solid black;
	flex: 20%;
}