:root {
	--dark-blue: #1B4A82;
	--blue: #0076BE;
	--dark-red: #B71334;
	--green: #13B72E;
	--dark-gray: #363636;
	--gray: #9A9B9C;
	--light-gray: #C4C4C4;
	--lighter-gray: #E5E5E5;
	--superlight-gray: #F4F4F4;
}

* {
	box-sizing: border-box;
}

.App {
	/* text-align: center; */
}

