@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
	--dark-blue: #1B4A82;
	--blue: #0076BE;
	--dark-red: #B71334;
	--green: #13B72E;
	--dark-gray: #363636;
	--gray: #9A9B9C;
	--light-gray: #C4C4C4;
	--lighter-gray: #E5E5E5;
	--superlight-gray: #F4F4F4;
}

* {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

.App {
	/* text-align: center; */
}

